@import '../../styles/colors.scss';
.buttonContainer {
    margin-top: 25px;
    width: 100%;

    button {
        color: $primary-color-9;;
        text-transform: none;
        outline: none;
        border: none;
        border-radius: 0%;
    }

    .active {
            background: $neutral-color-3;
    }

    .active:hover {
        cursor: auto;
        background: $neutral-color-3;
    }

    button:hover {
        background: $neutral-color-2;
    }
}