$primary-color-1: hsl(234, 62%, 26%);
$primary-color-2: hsl(232, 51%, 36%);
$primary-color-3: hsl(230, 49%, 41%);
$primary-color-4: hsl(228, 45%, 45%);
$primary-color-5: hsl(227, 42%, 51%);
$primary-color-6: hsl(227, 50%, 59%);
$primary-color-7: hsl(225, 57%, 67%);
$primary-color-8: hsl(224, 67%, 76%);
$primary-color-9: hsl(221, 78%, 86%);
$primary-color-10: hsl(221, 68%, 93%);

$neutral-color-1: hsl(210, 24%, 16%);
$neutral-color-2: hsl(209, 20%, 25%);
$neutral-color-3: hsl(209, 18%, 30%);
$neutral-color-4: hsl(209, 14%, 37%);
$neutral-color-5: hsl(211, 12%, 43%);
$neutral-color-6: hsl(211, 10%, 53%);
$neutral-color-7: hsl(211, 13%, 65%);
$neutral-color-8: hsl(210, 16%, 82%);
$neutral-color-9: hsl(214, 15%, 91%);
$neutral-color-10: hsl(216, 33%, 97%);

$supporting-light-blue-1: hsl(204, 96%, 27%);
$supporting-light-blue-2: hsl(203, 87%, 34%);
$supporting-light-blue-3: hsl(202, 83%, 41%);
$supporting-light-blue-4: hsl(201, 79%, 46%);
$supporting-light-blue-5: hsl(199, 84%, 55%);
$supporting-light-blue-6: hsl(197, 92%, 61%);
$supporting-light-blue-7: hsl(196, 94%, 67%);
$supporting-light-blue-8: hsl(195, 97%, 75%);
$supporting-light-blue-9: hsl(195, 100%, 85%);
$supporting-light-blue-10: hsl(195, 100%, 95%);

$supporting-red-1: hsl(348, 94%, 20%);
$supporting-red-2: hsl(350, 94%, 28%);
$supporting-red-3: hsl(352, 90%, 35%);
$supporting-red-4: hsl(354, 85%, 44%);
$supporting-red-5: hsl(356, 75%, 53%);
$supporting-red-6: hsl(360, 83%, 62%);
$supporting-red-7: hsl(360, 91%, 69%);
$supporting-red-8: hsl(360, 100%, 80%);
$supporting-red-9: hsl(360, 100%, 87%);
$supporting-red-10: hsl(360, 100%, 95%);

$supporting-yellow-1:hsl(15, 86%, 30%);
$supporting-yellow-2: hsl(22, 82%, 39%);
$supporting-yellow-3: hsl(29, 80%, 44%);
$supporting-yellow-4: hsl(36, 77%, 49%);
$supporting-yellow-5: hsl(42, 87%, 55%);
$supporting-yellow-6: hsl(44, 92%, 63%);
$supporting-yellow-7: hsl(48, 94%, 68%);
$supporting-yellow-8: hsl(48, 95%, 76%);
$supporting-yellow-9: hsl(48, 100%, 88%);
$supporting-yellow-10: hsl(49, 100%, 96%);

$supporting-green-1: hsl(170, 97%, 15%);
$supporting-green-2: hsl(168, 80%, 23%);
$supporting-green-3: hsl(166, 72%, 28%);
$supporting-green-4: hsl(164, 71%, 34%);
$supporting-green-5: hsl(162, 63%, 41%);
$supporting-green-6: hsl(160, 51%, 49%);
$supporting-green-7: hsl(158, 58%, 62%);
$supporting-green-8: hsl(156, 73%, 74%);
$supporting-green-9: hsl(154, 75%, 87%);
$supporting-green-10: hsl(152, 68%, 96%);