@import 'colors.scss';

@media screen and (min-width: 1024px) {
    .container {
        width: auto;
        height: 100vh;
        padding: 0px 15vw;
        border: 0%;
        margin: 0%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
    width: auto;
    height: 100vh;
    padding: 0px;
    border: 0%;
    margin: 0%;
}
}

.buttonContainer {
    margin-top: 25px;
    width: 100%;

    button {
        color: $primary-color-9;
        margin-right: 5px;
        background-color: $neutral-color-2;
        text-transform: none;
        outline: none;
        border: none;
    }

    button:hover {
        background-color: $neutral-color-3;
    }
}

.centered {
    display: grid;
    place-items: center;
}

.flexCentered { 
    display: flex;
    justify-content: center;
    align-items: center;
}