@import 'colors.scss';
:root{
    --foreground-rgb: #FFFFFF;
    --background-rgb: $neutral-color-2;
}

html{
    background: $neutral-color-1;
    color: $primary-color-9;
    padding: 0%;
    border: 0%;
    margin: 0%;
}