.container {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

.header_img_container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    font-size: 6rem;
}