@import 'colors.scss';
.container {
    width: auto;
    height: 100vh;
    padding: 0px 20vw;
    border: 0%;
    margin: 0%;
}

.stats {
    width: 100%;
    height: 100vh;
    padding: 0px;
    border: 0%;
    margin: 0%;
}

.header_img_container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    display: grid;
  place-items: center;
}

.flex {
    display: flex;
     justify-content: center; /* Centers horizontally along the main axis */
  align-items: center;     /* Centers vertically along the cross axis */
}

.bodyText {
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;

    p {
        margin-right: 30px;
        width: 15vw;
    }
}