.header {
    font-size: 2rem;
    text-align: center;
}

.body {
    display: -ms-flexbox;
    justify-content: space-around;
}

.body > p {
    font-size: 1.5rem;
    display: inline-block;
    /* justify-content: space-between; */
    text-align: center;
    width: 30vw;
}